{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'vendor/css/style.css' %}">
    <script src="https://kit.fontawesome.com/3d0e27e432.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <link rel="icon" href="https://i.pinimg.com/736x/d0/b2/9b/d0b29bc0ecb3559d99595049e3c3356d.jpg" type="image/x-icon">

</head>
<body>
    <header>
        <div id="logo">
            <span>Eucaliptus</span>
        </div>
        <div id="about">
            <a href="#top">Как вы можете расслабиться?</a>
            <a href="{% url 'index' %}">Домой</a>
            <a href="#main">Услуги</a>
            <a href="#overview">Массажи</a>
            <a href="{% url 'products' %}">SPA-DAY</a>
            <a href="#about2">О нас</a>
            </div>
    </header>

    <div id="top">
        <h1>Как вы можете расслабиться?</h1>
        <pre>Польза СПА-процедур.
СПА-терапия, помимо удовольствия и отдыха, обладает следующими полезными свойствами:
Нормализует сон и успокаивает;
Помогает чувствовать и выглядеть моложе;
Способствует снижению лишнего веса;
Тонизирует уставшую, дряблую кожу;
Снижает частоту и интенсивность головных болей;
Помогает релаксации всего организма;
Снимает утомляемость и уменьшает боль;
Улучшает кровообращение;
Повышает настроение.</pre>
    </div>

    <div id="main">
        <div class="intro">
            <h2>В СПА-центре вы можете посетить</h2>
            <span>Хаммам, Джакузи и Финскую сауну</span>
        </div>
    </div>

<div id="overview">
    <h2>Массажи</h2>
    <pre>

    </pre>
    <span>Массаж очень важен в виде приложения к целебной банной процедуре,
        в особенности гигиенический, который отлично заменяет любые редчайшие медикаменты.</span>
        <pre>

        Есть также разновидность массажей:
            Массаж для беременных
            Массаж детский
            Массаж для взрослых
        </pre>
</div>

<div id="about2">
    <h2>О нас</h2>
    <span>Как и "eucalyptus" - эвкалипт, наш СПА-центр направлен
        на укрепление вашего здоровья и красоты.  </span>
</div>

<footer id="last">
    <div>
    <span class="title">Телефон</span><br>
    <span class="heading">+79515354255</span>
    <p>+88635220077</p>
</div>
<div>
    <span class="title">Время работы</span><br>
    <span class="heading">пн-пт с 11:00 до 22:00</span>
        <p>Сб-вс с 11:00 до 23:00</p>
</div>
    <label>
        <span class="titleorg">Eucalyptus</span>
    </label>
    <div>
    <span class="title">Адрес</span><br>
    <span class="heading">ул. Лагранжа, 56, дом 6.</span>
</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        //функция, которая будет принимать параметр id, т.е анимация
        //к блоку пользователя. offset - отступ
        function slowScroll(id) {
            $ ('html', 'body').animate({
                scrollTop: $(id).offset().top
                }, 500);
        }
        //проскролленое расстояние сверху,
        //=== необходимы для проверки числа, removeclass - удаляем класс
        $(document).on("scroll", function () {
            if($(window).scrollTop() === 0)
            $("header").removeClass("fixed");
        else
            $("header").attr("class", "fixed");
        });
    </script>
</body>
</html>